<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar sticky-top navbar-light">
            <div class="container">
                <div class="navbar-brand">
                    <img src="/graphics/icosahedron.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    Epidemic Connections</div>
            </div>
        </nav>
        {% block jumbo %}{% endblock %}
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        <nav class="navbar sticky-bottom navbar-light">
            <div class="container"></div>
        </nav>
        {% block javascripts %}{% endblock %}
    </body>
</html>
