{% extends 'base.html.twig' %}

{% use 'blocks.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block jumbo %}
    <div class="jumbotron jumbotron-fluid" style="background-color: rgb(209, 18, 66); color:white;">
        <div class="container">
            <h1 class="display-3">Are you a connector?</h1>
            <p class="lead">Connectors are the rare people who have incredibly widespread "social networks." They are often successful businessmen or politicians, and play an integral role in the spread of ideas. With their wide reaching group of friends and acquaintances, connectors can spread a message rapidly to a receptive audience.</p>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
    {% block sidebar %}
        {{ parent() }}
    {% endblock %}
    {% block questionaire %}
        {{ parent() }}
    {% endblock %}
    </div>
{% endblock %}